/* Global Selectors */
* {
    font-family: 'Russo One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      background-image: url(./img/Night\ Sly\ 2.jpg);
      background-repeat:round
  }
  
  h1 {
    text-align: center;
    background-color: rgb(2, 38, 38);
    border-radius: 50px;
    border: 2px solid white;
    opacity: 0.8;
    color: white;
  }
  
  .main-card {
    background-color: rgba(0, 0, 0, 0.567);
    border-radius: 30px;
    border: 2px solid white;
    color: white;
  }
  
  .row {
    margin-top: 20px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding-left: 15px;
  }

  .card-header {
    color: white
  }

  .ion-icon {
    color: white;
  }
  
  .icons {
      height: 80px;
      width: 80px;
  }
  
  .cardCurrentDate {
      font-size: 20px;
      color: white;
  }

  #days {
    text-align: left;
    color: rgb(255, 255, 255);
    opacity: 0.7;
  }
  
  .cardCurrentCityName {
    font-size: 30px;
    font-weight: 800;
    color: white;
  }

  .card {
    margin: 50px;
    font-size: 20px;
  }

  .histBtnRow {
      margin: 20px 0;
  }


